body{
    box-sizing: border-box;
}
.style-0 {
    cursor: auto;
    font-size: 18px;
    line-height: 31.5px;
    overflow-x: hidden;
    color: rgb(0, 0, 0);
    font-weight: 400;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 799px;
    box-sizing: border-box;
    margin: 0px;
}

.style-1 {
    line-height: 31.5px;
    box-sizing: border-box;
}

.style-2 {
    line-height: 28.8px;
    font-family:'Segoe UI', 'Roboto', Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: rgb(51, 51, 51);
    display: block;
    box-sizing: border-box;
}

.style-3 {
    line-height: 31.5px;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    border: 0px none rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    display: block;
    outline: rgb(0, 0, 0) none 0px;
    text-decoration: none solid rgb(0, 0, 0);
    border-bottom: 0px none rgb(0, 0, 0);
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    transition-property: background-color, border-color, color;
    box-sizing: border-box;
}

.style-4 {
    display: none;
    line-height: 31.5px;
    height: 5px;
    background: rgb(0, 97, 200) url('https://login.my.gov.au/blugov/M-myGov-Coloured%20Line.svg') no-repeat scroll 0% 0% / auto padding-box border-box;
    box-sizing: border-box;
}

.style-5 {
    background-color: rgb(102, 211, 238);
    height: 14rem;
    min-height: 0px;
    border: 0px none rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    line-height: 31.5px;
    border-bottom-color: rgb(0, 0, 0);
    border-bottom: 0px none rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    box-sizing: border-box;
    display: block;
    /* border: 2px solid; */
}



@media screen and (max-width: 576px)
{
    .style-5{
        height: 7rem;
    }
}

.style-6 {
    padding: 0px;
    min-height: 0px;
    line-height: 31.5px;
    box-sizing: border-box;
    display: block;
    margin-top: 26px;
    margin-bottom: 0px;
    
    /* border: 2px solid blue; */
}

@media screen and (max-width: 576px)
{
    .style-6{
        padding: 0 1em;
        margin-top: 9px;
    }
}

.style-7 {
    min-height: 83.24px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 16px 20px;
    height: auto;
    line-height: 31.5px;
    display: flex;
    justify-content: left;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    
}

@media screen and (max-width: 576px)
{
    .style-7{
        min-height: 56.24px;
        padding: 8px 20px;
    }
}

.style-8 {
    width: 100%;
    line-height: 31.5px;
    box-sizing: border-box;
    /* border: 2px solid red; */
   
}

.style-9 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    line-height: 31.5px;
    box-sizing: border-box;
    /* border: 2px solid; */
}

.style-10 {
    width: 29.75rem;
    line-height: 31.5px;
    display: block;
    border-bottom: 0px none rgb(15, 100, 147);
    color: rgb(15, 100, 147);
    outline: rgb(15, 100, 147) none 0px;
    text-decoration: none solid rgb(15, 100, 147);
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    transition-property: background-color, border-color, color;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 30px;
    /* border: 2px solid; */
}

@media screen and (max-width: 576px)
{
    .style-10{
        width: 21.75rem;
        margin-left: -14px;
    }
}

.style-10:hover{
    background-color: transparent;
}

.style-11 {
    height: auto;
    margin-right: 36px;
    width: 100%;
    line-height: 31.5px;
    float: left;
    color: rgb(255, 255, 255);
    max-width: 100%;
    box-sizing: border-box;
    border: 0px none rgb(255, 255, 255);
}

.style-12 {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    line-height: 31.5px;
    box-sizing: border-box;
}

.style-13 {
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    text-decoration: underline solid rgb(0, 0, 0);
    transition: background 0.15s ease 0s;
    line-height: 28px;
    display: block;
    border-bottom: 0px none rgb(0, 0, 0);
    outline: rgb(0, 0, 0) none 0px;
    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: background;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
}

.style-14 {
    padding-right: 20px;
    padding-left: 20px;
    line-height: 31.5px;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    width: 100%;
    display: block;
    box-sizing: border-box;
    
}

@media screen and (max-width: 576px)
{
    .style-14{
        padding-left: 5px;
        padding-right: 5px;
    }
}

.style-15 {
    padding: 0px 70px;
    max-width: 650px;
    margin-top: 65px;
    line-height: 31.5px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    

}

@media screen and (max-width: 576px)
{
    .style-15{
        padding: 0px 3px;
        max-width: 100%;
        margin-top: 0px;
    }
}

.style-16 {
    padding: 0px;
    line-height: 31.5px;
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
    

}

.style-17 {
    margin-top: 65px;
    line-height: 31.5px;
    width: 100%;
    box-sizing: border-box;
    

}

.style-18 {
    line-height: 31.5px;
    box-sizing: border-box;
    

}

.style-19 {
    line-height: 31.5px;
    width: 100%;
    float: left;
    box-sizing: border-box;
    min-height: 1px;
    position: relative;
    

}

.style-20 {
    line-height: 31.5px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    

}

.style-21 {
    padding: 0px;
    line-height: 31.5px;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    margin: 0px auto;
    width: 100%;
    box-sizing: border-box;
    

}

.style-22 {
    color: rgb(37, 74, 126);
    margin-top: 0px;
    line-height: 27px;
    text-decoration: underline solid rgb(37, 74, 126);
    border-bottom: 0px none rgb(37, 74, 126);
    font-size: 18px;
    font-weight: 550;
    display: inline-block;
    outline: rgb(37, 74, 126) none 0px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    transition-property: background-color, border-color, color;
    position: relative;
    margin-left: 18px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
}

.style-22:before {
        content: '';
        position: absolute;
        top: -6px;
        right: 2.7em;
        display: block;
        
        height: 2em;
        left: -16px;

        width: 17px;
        transform: scale(0.5);
        background-repeat: no-repeat;
        background-position: right 0.4em;
        background-size: 1.125em auto;
        background-image: url(../image/left-chevron-black-16111.svg);
  }

.style-23 {
    line-height: 43px;
    color: rgb(51, 51, 51);
    margin-bottom: 12px;
    font-size: 32px;
    letter-spacing: -0.32px;
    margin-top: 0px;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
    margin: 0px 0px 12px;
}

.style-24 {
    margin-top: 0px;
    color: rgb(51, 51, 51);
    margin-bottom: 0px;
    line-height: 31.5px;
    font-size: 18px;
    margin-left: 0px;
    box-sizing: border-box;
}

.style-25 {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 30px;
    margin-top: 30px;
    color: rgb(51, 51, 51);
    font-weight: 700;
    text-align: left;
    box-sizing: border-box;
}

.style-26 {
    margin-left: 0px;
    margin-right: 0px;
    line-height: 31.5px;
    box-sizing: border-box;
}

.style-27 {
    margin-top: 17px;
    line-height: 31.5px;
    position: relative;
    max-width: 756px;
    box-sizing: border-box;
}


.style-28 {
    max-width: 672px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    line-height: 28px;
    display: block;
    margin-bottom: 6.4px;
    position: relative;
    margin-top: 19.2px;
    box-sizing: border-box;
}

.style-29 {
    max-width: none;
    border-radius: 2px;
    height: 48px;
    border: 1px solid rgb(0, 0, 0);
    line-height: 28px;
    margin: 6px 0px 0px;
    margin-bottom: 0px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: rgb(16, 16, 18);
    background-color: rgb(255, 255, 255);
    padding: 11.2px;
    display: block;
    overflow: visible;
    box-sizing: border-box;
}

.code{
    width: 50%;
}
.style-30 {
    margin-bottom: 30px;
    line-height: 31.5px;
    font-size: 18px;
    margin-top: 5px;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    box-sizing: border-box;
}

.style-31 {
    color: rgb(37, 74, 126);
    font-size: 16px;
    line-height: 28px;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: underline solid rgb(37, 74, 126);
    border-bottom: 0px none rgb(37, 74, 126);
    font-weight: 600;
    display: inline-block;
    outline: rgb(37, 74, 126) none 0px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    transition-property: background-color, border-color, color;
    border: 0px none rgb(37, 74, 126);
    white-space: normal;
    margin: 0px;
    padding: 0px;
    outline-offset: 0px;
    cursor: pointer;
    text-align: center;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

.style-32 {
    line-height: 31.5px;
    position: relative;
    max-width: 756px;
    box-sizing: border-box;
}

.style-33 {
    max-width: 672px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    line-height: 28px;
    display: inline;
    margin-bottom: 6.4px;
    position: relative;
    margin-top: 19.2px;
    box-sizing: border-box;
}

.style-34 {
    line-height: 31.5px;
    position: relative;
    max-width: 756px;
    box-sizing: border-box;
}

.style-35 {
    color: rgb(37, 74, 126);
    border-width: 1px 1px 1px 0px;
    border-color: rgb(0, 0, 0);
    outline: rgb(37, 74, 126) none 0px;
    border-top-right-radius: 2px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 11px 17px 12px 20px;
    height: 48px;
    top: 0;
    bottom: 0px;
    line-height: 28px;
    margin: 0px;
    border-top: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-radius: 0px 2px 0px 0px;
    min-width: fit-content;
    background-color: rgba(255, 255, 255, 0);
    text-decoration: underline solid rgb(37, 74, 126);
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    right: 0px;
    border: 0px;
    cursor: pointer;
    white-space: normal;
    display: block;
    outline-offset: 0px;
    text-align: center;
    width: auto;
    appearance: none;
    border-style: solid solid solid none;
    box-sizing: border-box;
    text-transform: none;
    overflow: visible;

}

.style-35:focus{
    
    background-color: rgb(37, 74, 126);
    color:rgb(255, 255, 255) ;
}

input:focus{
    background-color: rgb(224, 241, 65);
}


.style-36 {
    margin-bottom: -1px;
    line-height: 31.5px;
    font-size: 18px;
    padding: 0px;
    border: 0px none rgb(51, 51, 51);
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    overflow: hidden;
    width: 1px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    box-sizing: border-box;
}

.style-37 {
    max-width: 672px;
    border-radius: 2px;
    height: 48px;
    border: 1px solid rgb(0, 0, 0);
    line-height: 28px;
    margin: 6px 0px 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(16, 16, 18);
    padding-right: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 11.2px 70px 11.2px 11.2px;
    display: block;
    overflow: visible;
    box-sizing: border-box;
}

.style-38 {
    margin-bottom: 30px;
    line-height: 31.5px;
    font-size: 18px;
    margin-top: 5px;
    padding: 0px;
    border: 0px none rgb(0, 0, 0);
    box-sizing: border-box;
}

.style-39 {
    color: rgb(37, 74, 126);
    font-size: 16px;
    line-height: 28px;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: underline solid rgb(37, 74, 126);
    border-bottom: 0px none rgb(37, 74, 126);
    font-weight: 600;
    display: inline-block;
    outline: rgb(37, 74, 126) none 0px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    transition-property: background-color, border-color, color;
    border: 0px none rgb(37, 74, 126);
    white-space: normal;
    margin: 0px;
    padding: 0px;
    outline-offset: 0px;
    cursor: pointer;
    text-align: center;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

.style-40 {
    margin-top: 0px;
    line-height: 31.5px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.style-41 {
    line-height: 31.5px;
    box-sizing: border-box;
    /* border: 2px solid; */
    display: flex;
}

.style-42 {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    height: 48px;
    margin-right: 25.6px;
    border-radius: 5px;
    color: rgb(13, 42, 82);
    background-color: rgb(153, 225, 243);
    border: 0px none rgb(23, 47, 80);
    line-height: 28px;
    padding-top: 0px;
    margin: 0px -0.4px 0px 0px;;
    padding: 0px;
    margin-bottom: 0px;
    text-decoration: none solid rgb(23, 47, 80);
    font-size: 16px;
    font-weight: 600;
    min-width: 160px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    position: relative;
    appearance: none;
    display: inline-block;
    border-width: 0px;
    border-style: none;
    border-color: rgb(23, 47, 80);
    outline: rgb(23, 47, 80) none 0px;
    box-sizing: border-box;
    cursor: pointer;
    text-transform: none;
    overflow: visible;
}

.next{
    width: 50%;
    display: inline;
}

.cancel{
    width: 50%;
    display: inline;
    background-color: transparent;
    border: 1px solid;
    color: black;
}

.style-43 {
    border-radius: 2px;
    height: 48px;
    line-height: 28px;
    margin: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(16, 16, 18);
    box-sizing: border-box;
}

.style-44 {
    border-radius: 2px;
    height: 48px;
    line-height: 28px;
    margin: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(16, 16, 18);
    box-sizing: border-box;
}

.style-45 {
    padding-left: 25px;
    margin-top: 24px;
    margin-bottom: 48px;
    line-height: 24px;
    position: relative;
    font-size: 16px;
    margin: 24px 0px 48px;
    border: 0px none rgb(0, 0, 0);
    box-sizing: border-box;
}

.style-45::before {
    width: 1rem;
    min-width: 2rem;
    height: 2rem;
    top: 0.25rem;
    content: "";
    display: block;
    background: url(../image/icons8-info.svg) center center / contain no-repeat;
    position: absolute;
    left: 0px;
}

.style-46 {
    color: rgb(37, 74, 126);
    font-size: 16px;
    line-height: 28px;
    text-decoration: underline solid rgb(37, 74, 126);
    border-bottom: 0px none rgb(37, 74, 126);
    display: inline;
    outline: rgb(37, 74, 126) none 0px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    transition-property: background-color, border-color, color;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
}

.style-47 {
    line-height: 31.5px;
    box-sizing: border-box;
}

.style-48 {
    border-radius: 2px;
    height: 48px;
    line-height: 28px;
    margin: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(16, 16, 18);
    box-sizing: border-box;
}

.style-49 {
    margin-top: 0px;
    margin-bottom: 0px;
    height: auto;
    border-bottom: 0px none rgb(0, 0, 0);
    position: relative;
    line-height: 31.5px;
    margin-right: 63.75px;
    width: 100% !important;
    text-align: center;
    box-sizing: border-box;
}

.style-49::before {
    height: 0.0625rem;
    content: "";
    background-color: rgb(197, 197, 197);
    width: 100%;
    top: calc(50% - 0.5px);
    left: 0px;
    position: absolute;
}
.style-50 {
    padding-top: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    position: relative;
    line-height: 31.5px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 50%;
    height: 42px;
    width: 42px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.style-51 {
    padding: 0px;
    max-width: 650px;
    width: 100%;
    margin-bottom: 30px;
    line-height: 31.5px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: 0px auto 2em;
    box-sizing: border-box;
}

.style-52 {
    line-height: 31.5px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.style-53 {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 30px;
    margin-top: 30px;
    color: rgb(51, 51, 51);
    font-weight: 700;
    text-align: left;
    box-sizing: border-box;
}

.style-54 {
    background-color: rgba(0, 0, 0, 0);
    border: 0px none rgb(0, 0, 0);
    margin-top: 0px;
    overflow: visible;
    line-height: 31.5px;
    border-radius: 4px;
    border-right: 0px none rgb(0, 0, 0);
    border-left: 0px none rgb(0, 0, 0);
    border-bottom: 0px none rgb(0, 0, 0);
    box-sizing: border-box;
}

.style-55 {
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0px;
    line-height: 31.5px;
    box-sizing: border-box;
}

.style-56 {
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 31.5px;
    font-size: 15px;
    text-align: left;
    box-sizing: border-box;
}

.style-57 {
    color: rgb(37, 74, 126);
    line-height: 31.5px;
    font-size: 18px;
    display: inline;
    padding: 0px;
    text-decoration: underline solid rgb(37, 74, 126);
    border-bottom: 0px none rgb(37, 74, 126);
    outline: rgb(37, 74, 126) none 0px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    transition-property: background-color, border-color, color;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
}

.style-58 {
    color: rgb(37, 74, 126);
    line-height: 31.5px;
    font-size: 18px;
    display: inline;
    padding: 0px;
    text-decoration: underline solid rgb(37, 74, 126);
    border-bottom: 0px none rgb(37, 74, 126);
    outline: rgb(37, 74, 126) none 0px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    transition-property: background-color, border-color, color;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
}
.style-57::after {
    position: relative;
    margin-left: 0.125rem;
    padding: 0;
    width: 20px;
    height: 20px;
    /* border: 2px solid; */
    content:url(../image/icons8-external-link-13.svg) ;
    display: inline-block;

    top: 1px;
}
.style-58::after {
    position: relative;
    margin-left: 0.125rem;
    padding: 0;
    width: 20px;
    height: 20px;
    /* border: 2px solid; */
    content:url(../image/icons8-external-link-13.svg) ;
    display: inline-block;

    top: 1px;
}
.style-59 {
    border-radius: 5px;
    height: 48px;
    color: rgb(23, 47, 80);
    background-color: rgb(153, 225, 243);
    line-height: 28px;
    text-decoration: none solid rgb(23, 47, 80);
    font-size: 16px;
    font-weight: 700;
    min-width: 160px;
    border-bottom: 0px none rgb(23, 47, 80);
    display: inline-block;
    outline: rgb(23, 47, 80) none 0px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    transition-property: background-color, border-color, color;
    width: 100%;
    padding: 12.8px 0px;
    box-sizing: border-box;
}

.style-60 {
    line-height: 31.5px;
    margin: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}

.style-61 {
    line-height: 31.5px;
    background-color: rgb(0, 0, 0);
    color: rgb(51, 51, 51);
    border-top: 4px solid rgb(51, 51, 51);
    margin-top: 72px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    box-sizing: border-box;
    display: block;
}

.style-62 {
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    line-height: 31.5px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
}

.style-63 {
    padding-right: 2rem;
    padding-left: 18px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 40px;
    line-height: 31.5px;
    max-width: 1360px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    box-sizing: border-box;
}

.style-64 {
    margin-bottom: 44px;
    line-height: 31.5px;
    border-bottom: 1px solid rgb(153, 153, 153);
    padding: 25px 0px;
    box-sizing: border-box;
    display: block;
}

.style-65 {
    line-height: 31.5px;
    box-sizing: border-box;
    display: block;
}

.style-66 {
    line-height: 26.4px;
    margin-top: 30px;
    color: rgb(51, 51, 51);
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    font-size: 22px;
    margin-bottom: 11px;
    font-weight: 400;
    box-sizing: border-box;
}

.style-67 {
    margin-bottom: 0px;
    line-height: 31.5px;
    margin-top: 0px;
    padding: 0px;
    padding-left: 0px;
    box-sizing: border-box;
}

.style-68 {
    line-height: 31.5px;
    margin-right: 24px;
    display: inline;
    list-style: outside none none;
    margin-bottom: 9.59994px;
    box-sizing: border-box;
}

.style-69 {
    line-height: 24.5px;
    color: rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    outline: rgb(255, 255, 255) none 0px;
    text-decoration: none solid rgb(255, 255, 255);
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    transition-property: background-color, border-color, color;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
}

.style-70 {
    line-height: 31.5px;
    margin-right: 24px;
    display: inline;
    list-style: outside none none;
    margin-bottom: 9.59994px;
    box-sizing: border-box;
}

.style-71 {
    line-height: 24.5px;
    color: rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    outline: rgb(255, 255, 255) none 0px;
    text-decoration: none solid rgb(255, 255, 255);
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    transition-property: background-color, border-color, color;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
}

.style-72 {
    line-height: 31.5px;
    margin-right: 24px;
    display: inline;
    list-style: outside none none;
    margin-bottom: 9.59994px;
    box-sizing: border-box;
}

.style-73 {
    line-height: 24.5px;
    color: rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    outline: rgb(255, 255, 255) none 0px;
    text-decoration: none solid rgb(255, 255, 255);
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    transition-property: background-color, border-color, color;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
}

.style-74 {
    line-height: 31.5px;
    display: inline;
    list-style: outside none none;
    margin-bottom: 9.59994px;
    box-sizing: border-box;
}

.style-75 {
    line-height: 24.5px;
    color: rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    outline: rgb(255, 255, 255) none 0px;
    text-decoration: none solid rgb(255, 255, 255);
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    transition-property: background-color, border-color, color;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
}

.style-76 {
    line-height: 31.5px;
    display: flex;
    
    flex-direction: column;
    box-sizing: border-box;
    /* border: 2px solid blue; */
}

.style-77 {
    height: 68px;
    max-width: 390px;
    margin-bottom: 46px;
    line-height: 31.5px;
    margin-right: 32px;
    box-sizing: border-box;
    display: block;
}

.style-78 {
    display: inline;
    line-height: 31.5px;
    border-bottom: 0px none rgb(15, 100, 147);
    color: rgb(15, 100, 147);
    outline: rgb(15, 100, 147) none 0px;
    text-decoration: none solid rgb(15, 100, 147);
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    transition-property: background-color, border-color, color;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    /* border: 2px solid yellow; */
    
}

.style-79 {
    height: 68px;
    max-width: 390px;
    line-height: 31.5px;
    box-sizing: border-box;
    border: 0px none rgb(15, 100, 147);
    /* border: 2px solid green; */
}

.style-80 {
    margin-bottom: 0px;
    line-height: 26px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    box-sizing: border-box;
    display: inline;
}

.style-81 {
    line-height: 31.5px;
    display: none;
    box-sizing: border-box;
}


a:hover{
    
    background-color: rgb(37, 74, 126);
    

}

.style-69:hover{
    color: white
}
.style-13:hover{
    color: white;
}
.style-22:hover{
    color: white;
}
.style-31:hover{
    color: white;
    text-decoration: none;
}
.style-39:hover{
    color: white;
    text-decoration: none;
}
.style-35:hover{
    color: white;
    background-color:rgb(37, 74, 126) ;
}
.style-42:hover{
    color: white;
    background-color: rgb(37, 74, 126);
}
.style-46:hover{
    color: white;
    text-decoration: none;
}
.style-57:hover{
    color: white;
    text-decoration: none;
}
.style-58:hover{
    color: white;
    text-decoration: none;
}
.style-59:hover{
    color: white;
    text-decoration: none;
}
.style-71:hover{
    color: white;
}
.style-73:hover{
    color: white;
}
.style-75:hover{
    color: white;
}

